<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mx-auto">
                <a href="/lessons/get-lessons" class="btn btn-primary me-2">Расписание</a>
                <a href="/lessons/create-lesson" class="btn btn-secondary me-2">Создать урок</a>
                <a href="/users/get-users" class="btn btn-success me-2">Пользователи</a>
                <a href="/users/newsletter" class="btn btn-danger">Рассылка</a>
            </div>
        </div>
    </div>
</nav>